.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
}

.left-side{
  grid-column: col-start 2 / span 3;
}

.right-side{
  grid-column: col-start 5/ span 7 ;
}

.table-header {

  margin-bottom: 10px;
  display: flex;
  align-items: center; /* centra verticalmente */
  gap: 10px; /* espaço entre botões */
  height: 60px; /* controla a altura */

    background-color: #ffffff;
  border-radius: 16px;
  padding: 20px 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.table-header button {
  background-color: white;
  border: none;
  border-radius: 15px;
  padding: 10px;
}
.table-header button:hover {
  background-color: rgb(219, 219, 219);
}
