.backdrop {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dialog {
  width: auto;
  height: auto;
  background: #c4c4c4;
  border-radius: 2rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 25px;
}

.dialog .large {
  width: 1024px;
  max-width: 90%;
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: 0;
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
  border-radius: 1rem;
  display: flex;
}

.close:hover {
  background: rgba(0, 0, 0, 0.2);
}

.modalForm{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
    text-align: center;
    
}

.submitButtonContainer{
    padding-top: 20px;
    text-align: center;
}

.submitButton{
   border-radius: 4px;
   border: none;
   padding: 15px;
}